.photo{
    max-height: 360px;
    width: auto;
    -webkit-box-shadow: 3px 3px 9px 2px rgba(0,0,0,0.5);
    -moz-box-shadow:    3px 3px 9px 2px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 9px 2px rgba(0,0,0,0.5);
}
header{
    padding: 20px;
    background-color: #000;
}
.main-title{
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px rgba(225, 225, 225, 0.7);
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    margin: 10px 0;
}
li a {
    cursor: pointer;
    color: white;
    background-color: black;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #000;
    width: 100px;
}
a:focus{
    color: #fff;
    text-decoration: none;
}
li a:hover{
    color: #000;
    background: #fff;
    text-decoration: none;
}
h2{
    font-weight: bold;
}
.menu-title{
    font-size: 32px;
    font-weight: bold;
}

td,th{
    padding:  10px;
}

.detail-btn{
    border-radius: 0;
    border: 1px solid #000;
    background-color: #fff;
}
.skill-block{
    height: 300px;
}
.skill-img-block{
    max-height: 200px;
    height: 200px;
    overflow: hidden;
}
.skill-image{
    width: 200px;
    height: auto;
}
.more-btn{
    border-radius: 0;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    padding: 5px 20px;
    font-size: 19px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.more-btn:hover{
    background-color: #fff;
    color: #000;
}
.diploma-img{
    height: auto;
    width: 100%;
}
.education{
    cursor: pointer;
}
.education:hover {
    background-color: lightgray;
}