<h2>Main Information</h2>
<h3>{{ info.name }}</h3>

<table class="table">
    <tr>
        <th>Photo</th>
        <td><img src="{{ info.photo }}" class="photo"> </td>

    </tr>
    <tr>
        <th>Position</th>
        <td>{{ info.position }}</td>
    </tr>
    <tr>
        <th>Day of birth</th>
        <td>{{ info.birth | parseDate}}</td>
    </tr>
    <tr>
        <th>City</th>
        <td>{{ info.city }}</td>
    </tr>
    <tr>
        <th>Phone</th>
        <td>{{ info.phone }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ info.email }}</td>
    </tr>

</table>
